@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100&display=swap");
* {
    padding: 0px;
    margin: 0px;
    font-family: poppins, sans-serif;
}
body{
    display: flex;
}
.profil{
    width: 20%;
    height: 90vh;
    background-color: #82B1EE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.pic-profil{
    margin-top: 20px;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 100px;
}
.pic-profil img{
    width: 200px;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.deconnection{
    display: flex;
    align-self: flex-end;
}
.deconnection a{
    color: white;
    margin-bottom:72px;
    margin-right: 30px;
}
.dash{
    width: 80%;
}
.table-div{
    width: 90%;
    height: 600px;
    /* background-color: #82B1EE; */
    margin:0px auto;
    margin-top: 60px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width:none ;


}
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}
table{
    border-collapse: collapse;
    width: 100%;
}
table th {
    padding-top: 12px 0px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #82B1EE;
    color: white;
}
table tr:nth-child(even){
    background-color: #f2f2f2;
}
table tr:hover {
    background-color: #ddd;
}
.supp{
    padding:2px;
    width: 20px;
    height: 20px;
    background-color: crimson;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
.supp:hover{
    cursor: pointer;
}
.edit{
    padding:2px;
    width: 20px;
    height: 20px;
    background-color: #40A450;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-weight: bold;
}
.edit:hover{
    cursor: pointer;
}
.edit-part{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: none; */
}
.form{
    width: 90%;
    height: 200px;
    /* background-color: darkcyan; */
    margin: auto;
}
.form .pers{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 80%;
    height: 200px;
    background-color: white;
    margin: auto;

}
#persInfo{
    width: 200px;
    border: none;
    border-bottom: 1px solid rgb(109, 109, 109);
    outline: cornflowerblue;
}
.descr{
    width: 80%;
    height: 600px;
    /* background-color:crimson; */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.message{
    display: flex;
    flex-direction: column;
}
#message{
    width: 450px;
    height: 250px;
    border: none;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.submit{
    margin-top: 10px;
    width: 160px;
    height: 60px;
    background-color: #82B1EE;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
.submit:hover{
    cursor: pointer;
    background-color: #3B659B;
    font-weight: bold;
}
#input{
    border: none;
    border-bottom: 1px solid rgb(97, 97, 97);
}
.table-div::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    border-radius: 100px;
    background-color: #64a8d4;
    background-clip: content-box;
}
















